<div class="branding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="brand">
                    @if (Office == "OPC")
                    {
                        <a target="_blank" rel="noopener noreferrer" href="https://www.suffolkcountyny.gov/Departments/Health-Services/Environmental-Quality/Pollution-Control">
                            <img src="images/cntyseal_WHITE-100px.png" width="80" height="80" alt="Suffolk County Seal">
                        </a>
                        <div class="column-title">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.suffolkcountyny.gov/Departments/Health-Services/Environmental-Quality/Pollution-Control">
                                <h4>Suffolk County Government</h4>
                                <h5>Office of Pollution Control</h5>
                            </a>
                        </div>
                    }
                    /*else if (Office == "WWM")
                    {
                        <a target="_blank" rel="noopener noreferrer" href="https://www.suffolkcountyny.gov/Departments/Health-Services/WWM">
                            <img src="images/cntyseal_WHITE-100px.png" width="80" height="80" alt="Suffolk County Seal">
                        </a>
                        <div class="column-title">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.suffolkcountyny.gov/Departments/Health-Services/WWM">
                                <h4>Suffolk County Government</h4>
                                <h5>Office of Wastewater Management</h5>
                            </a>
                        </div>
                    }*/
                    else
                    { 
                        <a target="_blank" rel="noopener noreferrer" href="https://www.suffolkcountyny.gov/Departments/Health-Services/Environmental-Quality">
                            <img src="images/cntyseal_WHITE-100px.png" width="80" height="80" alt="Suffolk County Seal">
                        </a>
                        <div class="column-title">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.suffolkcountyny.gov/Departments/Health-Services/Environmental-Quality">
                                <h4>Suffolk County Government</h4>
                                <h5>Department of Environmental Quality</h5>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Office { get; set; }
}
