<footer>
    <div id="sst-footer" class="row">

        <div class="col-lg-7">
            <a class="text-left" href="./contact">Contact Us</a>
            <a id="aca-link" class="text-left" target="_blank" rel="noopener noreferrer" href="https://aca-prod.accela.com/SUFFOLKCO/">Accela Citizen Access (ACA) Online Portal</a>
        </div>
        <div class="col-lg-5">
            <p class="text-right">Copyright &copy; @DateTime.Now.Year, Suffolk County Government</p>
        </div>
    </div>
</footer>
