@page "/contact"

<DeqHeader />

<div class="container">
    <h4 class="text-center mt-5 mb-4">Contact Us</h4>

    <p>For consistent webpage or web server errors, please contact website <a target="_blank" href="https://aca.suffolkcountyny.gov/helprequest/">administrator</a>.</p>
    <p>For questions related to Wastewater application status, please contact the Wastewater Management office at (631)852-5700.</p>
    <p>For questions related to OPC Site or application status, please contact the Office of Pollution Control at (631)854-2501.</p>
</div>

<Footer />
