@page "/home"

<DeqHeader />

<div class="container">
    <h3 class="text-center mt-5 mb-5">Suffolk County Submission & Status Terminal </h3>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-header text-center text-white bg-success">
                    <h4>Pollution Control</h4>
                    <h5>Application Status Look Up</h5>
                </div>
                <div class="card-body">
                    <p class="card-title">Looking for the status of your Tank installation/registration, Tank closure, Environmental Site Assessment/UIC Evaluation, Swimming pool, or Global Containment application?</p>
                </div>
                <div class="px-3 py-2">
                    <a href="opcapp" class="btn btn-lg btn-block btn-primary">Visit</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-header text-center text-white bg-success">
                    <h4>Pollution Control</h4>
                    <h5>Site Status Look Up</h5>
                </div>
                <div class="card-body">
                    <p class="card-title">Looking for a Site Article 12/18 Permit information, Tank list, last inspection date?</p>
                </div>
                <div class="px-3 py-2">
                    <a href="opcsite" class="btn btn-lg btn-block btn-primary">Visit</a>
                </div>
            </div>
        </div>
        <!--<div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-header text-center text-white bg-info">
                    <h4>Waste Water Management</h4>
                    <h5>Application Status Look Up</h5>
                </div>
                <div class="card-body">
                    <p class="card-title">Looking for the status of a Commercial, Residential, Subdivision, or Sewage Treatment Plant Application?</p>
                </div>
                <div class="px-3 py-2">
                    <a href="wwmapp" class="btn btn-lg btn-block btn-primary">Visit</a>
                </div>
            </div>
        </div>-->
    </div>
</div>

<Footer />
