@page "/searchhide"

<DeqHeader />

<div class="container">
    @*<div class="mt-4">*@
    <h3 class="text-center mt-4 mb-4">Suffolk County Submission & Status Terminal</h3>
    <h3 class="text-danger sst-note bg-warning"><em>This portal is down for scheduled maintenance as we upgrade our systems. The system will be back up on Monday 4/26/2021. If you need the status of an application prior to Monday, please call the Office of Wastewater Management at (631) 852-5700. The phone and counter are open Monday - Friday 9:00am – 4:00pm.</em></h3>
    @*</div>*@
</div>

<Footer />
