@inject Blazored.LocalStorage.ILocalStorageService localStorage

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="bad-address text-center">Sorry, there's nothing at this address.</div>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    [Parameter]
    public string UserAgent { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await localStorage.SetItemAsync("UserAgent", UserAgent);
    }
}