<?xml version="1.0"?>
<paymentAdapter>
    <!--The URL for Redirect,please replace @HostURL@ with the exact URL.e.g.
      UT site: https://stageccp.dev.cdc.nicusa.com/CommonCheckout/CommonCheckPage/Default.aspx
      Product site: https://securecheckout.cdc.nicusa.com/CommonCheckPage/Default.aspx
    -->
    <add key="HostURL" value="https://demo.convergepay.com/hosted-payments"/>
<!--  Those values are retrieved from Accela based on the provided Merchant Account ID-->
<!--    <add key="access_id" value ="9e371a038faa3ff998da92d85068514a" />-->
<!--    <add key="secret_key" value ="919fbd4e48684423ab72a51557a71fc11acacd6564c740e2be53fdf7dc31479a04c22e0283aa4eca9735ea4f5f0264e5c46bfdd686ba4c88bc0878dca797d3a0cd67bc44e79c49a9a12f3cbd295e8533d8fcec563dcc4acc922f5837439e20aea0208fba446048a1bfc88615b72064d7d23e1ae984b645c6af8030dc4bfabd60" />-->
<!--    <add key="profile_id" value="9EC52775-8005-4956-93AF-2FCE76C14F1A" />-->
    
    <!--Redirect to URL parameters,the parameters will be appended to HostURL above.-->
    <add key="RedirectURLParameters" value="ssl_txn_auth_token=$$TOKEN$$"/>
   <!-- <add key="PaymentEngineUsername" value="test" />
    <add key="PaymentEnginePassword" value="test" /> -->
    <!--The third party static parameters,the parameters will NOT be appended to HostURL above.
      The key value with 'ThirdPartyStaticParameters' is the default paramter.
      You can use the separate key value with the agency, the format is: ThirdPartyStaticParameters_@Agency@
      Please change the @STATECD@, @SERVICECODE@, @MERCHANTID@, @MERCHANTKEY@ with the correct value which is assigned by TPE.
      UT value: STATECD=TX|SERVICECODE=19999100|MERCHANTID=TXTEST100|MERCHANTKEY=Test
    -->
    <add key="ThirdPartyStaticParameters" value="" />
  <!--The AA web service Root URL
      replace the @WebServiceURLRoot@ with the exact value
      e.g.: http://10.50.70.120:13080/av-aca-ws/services/
    -->
  <add key="AdapterName" value="EVA"/>
  <add key="AdapterURL" value="https://acadev.suffolkcountyny.com/Elavon_Adapter" />
  <add key="ACARedirectURL" value="https://acadev.suffolkcountyny.com/CitizenAccess/payment/paymentredirect.aspx" />
  <add key="ACAPostbackURL" value="https://acadev.suffolkcountyny.com/CitizenAccess/payment/paymentpostback.aspx" />
  <add key="AddConvFee" value="true" />

<!-- Converge error codes -->
<add key="SERV+NOT+ALLOWED" value="Invalid Request"></add>
<add key="MAX+MONTHLY+VOL" value="Declined - monthly limit exceeded"></add>
<add key="MICR+ERROR" value="MICR Read Error"></add>
<add key="MUST+SETTLE" value="Must settle, open batch is over 7 days old"></add>
<add key="NETWORK+ERROR" value="General System Error"></add>
<add key="PLEASE+RETRY" value="Please Retry/Reenter Transaction"></add>
<add key="RECORD+NOT+FOUND" value="Record not on the network"></add>
<add key="REQ+EXCEEDS+BAL" value ="Request exceeds available balance"></add>
<add key="SEQ+ERROR+PLS+CALL" value="Call for Assistance"></add>
<add key="TOO+MANY+CHECKS" value="Too many checks (over limit)"></add>
<add key="CALL+AUTH+CENTER" value="Contact your card issuer"></add>
</paymentAdapter>
