<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <appSettings>
    <add key="ExportPath" value="C:\Users\AlanPoirier\OneDrive - sCube Inc\Documents\Company Files\Clients\Suffolk\SIPSync\Samples\" />
    <add key="ArchivePath" value="C:\Users\AlanPoirier\OneDrive - sCube Inc\Documents\Company Files\Clients\Suffolk\SIPSync\Archive\" />
    <add key="MappingFilePath" value="C:\Users\AlanPoirier\OneDrive - sCube Inc\Documents\Company Files\Clients\Suffolk\SIPSync\SIPSync\ASIMapping.json" />
    
    <add key="AutoArchive" value="YES" />
    <add key="LookupColumn" value="ColumnI" />

    <add key="SendReportEmail" value="Yes" />
    <add key="ReportToEmail" value="alan.poirier@scubeenterprise.com" />
    
    <add key="ConstructBaseUri" value="https://apis.accela.com" />
    <add key="ConstructTokenUri" value="https://apis.accela.com/oauth2/token" />
    <add key="ConstructAppID" value="637199733644526363" />
    <add key="ConstructAppSecret" value="fedfb0d111ed494194a10f48759ced87" />

    <add key="ConstructAgency" value="SUFFOLKCO" />
    <add key="ConstructEnvironment" value="TEST" />
    <add key="AccelaUserName" value="interfaceuser" />
    <add key="AccelaPassword" value="z1JVnHvRJ+7OhWonYIhr9OkBYVBWjnKJSOmt2XVSes4=" />
        
    <!--<add key="ConstructAgency" value="SCUBE-HOST" />
    <add key="ConstructEnvironment" value="SUPP" />
    <add key="AccelaUserName" value="admin" />
    <add key="AccelaPassword" value="admin" />-->    
    
    <!-- The format of the custom field group id is <group_code>-<sub group>.-->
    <add key="CustomFieldGroupId" value="DEQ_SIP_APP-PAYMENT INFORMATION" />
    
    <add key="CountyLookupCustomField" value="County Voucher Number" />
    <add key="StateLookupCustomField" value="State Voucher Number" />
 
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Logs\SIPSync\LogFile_%date{yyyy_MMM_dd}.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="7" />
      <datePattern value="yyyy_MMM_dd" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy MMM dd HH:mm:ss} [%logger] %level - %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>