<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="suffolk.lims.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <suffolk.lims.Properties.Settings>
            <setting name="srcpath" serializeAs="String">
                <value>c:\temp\in\</value>
            </setting>
            <setting name="destpath" serializeAs="String">
                <value>c:\temp\out\</value>
            </setting>
        </suffolk.lims.Properties.Settings>
    </userSettings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} %username - %message%newline" />
      </layout>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="c:/temp/log.log" />
      <rollingStyle value="Date" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>

  <appSettings>
    <add key="AccelaAccessTokenUrl" value="https://auth.accela.com/oauth2/token"/>
    <add key="AccelaRequestUrl" value="https://apis.accela.com"/>
    <add key="AccelaAgency" value="SUFFOLKCO"/>
    <add key="AccelaUsername" value="admin"/>
    <add key="AccelaPassword" value="admin99"/>
    <add key="AccelaClientId" value="636852418729795015"/>
    <add key="AccelaClientSecret" value="ae44b889b78a458ab1cf271ed65b29bf"/>
    <add key="AccelaEnvironment" value="STAGE"/>
    <add key="AccelaScope" value="records run_emse_script"/>
    <add key="AccelaGrantType" value="password"/>
    <add key="InputPath" value="c:\\temp\\in"/>
    <add key="OutputPath" value ="c:\\temp\\out"/>
    <add key="SMTPHost" value ="10.3.80.168"/>
    <add key="SMTPUser" value ="anonymous"/>
    <add key="SMTPPass" value =""/>
    <add key="SMTPPort" value="25"/>
    <add key="ResultEmailAddress" value ="AccelaAdmin@suffolkcountyny.gov"/>
   
  </appSettings>
</configuration>